.landing-title {
    position: relative;
    text-align: left;
    left: 10px;
    top: 10px;
    font-family: poppins;
}

.carousel-wrapper {
    max-width: 100%;
    max-height: 100%;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 40px;
}
.carousel-items {
    max-height: 100%;
}

.card {
    width: 300px;
    box-shadow: 2px 2px 20px 0 rgba(22, 22, 26, 0.18);
    border-radius: 10px;
    overflow: hidden;
    /*
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    */
}
.card-img-wrapper {
    height: 370px;
    position: relative;
}
.card-img {
    height: auto;
    width: 300px;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.card-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}

.product-type {
    display: flex;
    align-items: left;
    flex-direction: column;
}
.product-type a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.product-type span {
    color: rgba(22, 22, 22, 0.5);
}
.product-price {
    color: #222222;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(168, 168, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.card-img-wrapper:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgpa(0, 0, 0, 0.2);
}
.buy-btn:hover {
    color: #ffffff;
    background-color: lightpink;
    transition: all ease 0.3s;
}