.profile{
   background-color: rgb(122, 122, 122);
   height: 150px;
   clip-path: circle();
   margin-bottom: 10px;
   margin-top: 5px;
   color: black;
}

.img{
    width: 160px;
    height: auto;
}